/* @font-face {
    font-family: 'Aggravo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroL.woff') format('woff');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Aggravo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroM.woff') format('woff');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Aggravo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Escoredream';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-1Thin.woff') format('woff');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Escoredream';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff') format('woff');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Escoredream';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Escoredream';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Escoredream';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Escoredream';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Escoredream';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Escoredream';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff') format('woff');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Escoredream';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff') format('woff');
    font-weight: 900;
    font-display: swap;
} */
@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-1Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-2ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-3Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-4Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-5Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-6SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-7Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-9Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}

/* 여기부터 메인페이지 */
*{margin: 0; padding: 0; user-select: none;}
body{font-family: 'Paperozi'; width: 100vw; overflow-x: hidden; background-color: #E9f0f0;}
.container01{width: 100%; height: 100vh; position: relative; background-image: url('./main_title.jpg'); background-position: center; background-repeat: no-repeat; background-size: cover;}
.title{color: #F7F5F2; font-weight: bold; font-size: 48px; position: fixed; top: 46%; left: 35%; z-index: 10; opacity: 0; transform: translateY(-50px); transition: all 1.2s linear;}
.title.on{opacity: 0.8; transform: translateY(0px); }
.mainArrow{position: absolute; bottom: 5%; left: 50%; animation: scrollArrow 1s infinite;}

@keyframes scrollArrow{
    50%{transform: translateY(5px)}
    100%{transform: translateY(0px)}}

.container02{width: 100%; height: 50vh; position: relative; display: grid; grid-template-columns: 1fr 1fr; grid-template-rows: 1fr 1fr;}
.container02>div{width: 100%; height: 50vh; overflow: hidden; position: relative;}
.container02>div>a>img{object-fit: cover; width: 100%; height: 100%; filter: brightness(0.5); transition: all 0.3s linear; cursor: pointer;}
.container02>div>a>img:hover{filter: brightness(1); transform: scale(1.1);}
.subTitle {position: absolute; top: 50%; left: 45%; z-index: 5; font-size: 20px; color: #F7F5F2; background-color: rgba(0, 0, 0, 0); padding: 5px 10px; border-radius: 5px; transition: background-color 0.3s ease;}
.container02>div:hover .subTitle {background-color: rgba(0, 0, 0, 0.6);}

    /*모바일*/
    @media(max-width:480px){
        .title{top: 43.5%; left: 24%;}
        .mainArrow{left: 45%;}
        .subTitle{left: 35%;}
    }

/* 여기부터 네비게이션 */
nav{width: 100%; height: 60px; background-color: #6f6869; color: #F7F5F2; display: flex; justify-content: center; align-items: center; gap: 200px;}
.navTitle{cursor: pointer; text-align: center;}
.title1{font-size: 24px; font-family: 'Aggravo';}
.title2{font-size: 10px;}
.mobileNav{display: none;}

    /*모바일*/
    @media(max-width:480px){
        nav>a{display: none;}
        .mobileNav {display: flex; justify-content: center; align-items: center; gap: 100px; background-color: #6f6869; height: 60px; padding: 5px 15px; position: fixed; width: 105%; top: 0; z-index: 100;}
        .hamburger {font-size: 28px; color: #F7F5F2;}
        .mobileMenu {display: none; flex-direction: column; background-color: #6f6869; width: 110%; position: absolute; top: 45px; left: -5%;}
        .mobileMenu.show { display: flex; }
        .mobileMenu a {padding: 10px; text-align: center; border-top: 1px solid #555; color: #F7F5F2; text-decoration: none; font-size: 16px;}
        .mobileMenu a:hover {background-color: #555;}
    }

/* 여기부터 PART1 */
.part1Con01{width: 100%; height:100vh; position: relative;}
.part1Box01, .part1Box02{overflow: hidden; width: 40%; position: absolute;}
.part1Box01{left: 0; top: 10%;}
.part1Box02{right: 0; bottom:10%}
.part1Title{background-color:#859a9e; color: #F7F5F2; text-align: center; line-height: 100px; font-size: 90px; width: 340px; height: 100px; position: absolute; top: 46%; left: 41.2%;}
.part1img01, .part1img02{position: absolute; width: 60%; filter: brightness(0.6);}
.part1img01{height: 33%; right: 0; top: 10%;}
.part1img02{height: 29%; left: 0; bottom:10.5%;}
.part1img01>img, .part1img02>img{width: 100%; height: 100%; object-fit: cover;}

    /*모바일*/
    @media(max-width:480px){
        .part1Con01{display: flex; flex-direction: column; position: static; height:auto; gap: 10px; margin: 10px 0;}
        .part1Title, .part1Box01, .part1Box02, .part1img01, .part1img02{position: static; width: 100%; display: block;}
    }

/* 여기부터 PART2 */
.part1Con02{width: 100%; position: relative;}
.part2Title{background-color: #F7F5F2; color: #6f6869; font-weight: bold; line-height: 100px; padding: 10px 20px; font-size: 60px; width: 57%; height: 110px; position: absolute; top: 11%; left: 10%;}
.part2Box01{margin: 10px auto; width: 80%; height: 1600px; position: relative; }
.part2Box01>div{position: absolute;}
.part2Box01>div:nth-child(1){top: 10%; left: 0; width: 27.5%;}
.part2Box01>div:nth-child(2){top: 10%; right: 29.5%; width: 41.2%;}
.part2Box01>div:nth-child(3){top: 1.9%; right: 0; width: 27.3%;}
.part2Box01>div:nth-child(4){top: 51.5%; left: 0; width: 27.5%;}
.part2Box01>div:nth-child(5){top: 38.5%; left: 29.5%; width: 27.5%;}
.part2Box01>div:nth-child(6){top: 38.5%; right: 0; width: 41%;}
.part2Box01>div:nth-child(7){top: 73.5%; left: 29.5%; width: 27.5%;}
.part2Box01>div:nth-child(8){top: 89.5%; right: 0; width: 41%;}

.fade-in {opacity: 0; transform: translateY(30px); transition: opacity 0.8s ease-out, transform 0.8s ease-out;}
.fade-in.show {opacity: 1; transform: translateY(0);}

    /*모바일*/
    @media(max-width:480px){
        .part2Title{font-size: 28px; width: 92%; height: 60px; text-align: center; line-height: 40px; left: 5%;}
        .part2Box01{width: 90%; height: 1100px;}
        .part2Box01>div:nth-child(1){top: 8%; left: 0; width: 48%;}
        .part2Box01>div:nth-child(2){top: 8%; right: 0; width: 48%;}
        .part2Box01>div:nth-child(3){top: 22%; right: 0; width: 48%;}
        .part2Box01>div:nth-child(4){top: 37.5%; right: 0; width: 48%;}
        .part2Box01>div:nth-child(5){top: 48%; left: 52%; width: 48%;}
        .part2Box01>div:nth-child(6){top: 73%; right: 0; width: 48%;}
        .part2Box01>div:nth-child(7){top: 72.5%; left: 0; width: 48%;}
        .part2Box01>div:nth-child(8){top: 92.5%; left: 0; width: 48%;}
    }

/* 여기부터 PART3 */
.part3Box01 {display: flex; flex-direction: column; gap: 20px; overflow: hidden; width: 100%; margin: 20px auto;}
.rollLeft, .rollRight {display: inline-flex; gap: 20px; white-space: nowrap; justify-content: center;}
.rollLeft li, .rollRight li {flex-shrink: 0;}
.rollLeft img, .rollRight img {cursor: pointer; height: 400px; object-fit: contain;}
.rollLeft {animation: rollLeftAni 30s linear infinite;}
.rollRight {animation: rollRightAni 30s linear infinite;}
.rollLeft:hover, .rollRight:hover {animation-play-state: paused;}
@keyframes rollLeftAni {
    from { transform: translateX(0); }
    100% { transform: translateX(-50%); }}

@keyframes rollRightAni {
    from { transform: translateX(0%); }
    100% { transform: translateX(50%); }}

    /*모바일*/
    @media(max-width:480px){
        .rollLeft img, .rollRight img{height: 300px;}
        .rollLeft {animation: rollLeftAni 10s linear infinite;}
        .rollRight {animation: rollRightAni 10s linear infinite;}
    }

/* 여기부터 PART4 */
.part4Con01{width: 100%; height: 100vh; position: relative; overflow: hidden;}
.part4Title{color: #F7F5F2; font-weight: 800; text-align: center; line-height: 130px; font-size: 80px; width: 400px; height: 130px; background-color: #8f877f; border-radius: 2px; position: absolute; top: 40%; left: 40%; z-index: 10; cursor: grab;}
.part4Con02{width: 100%; height: 100vh; display: flex; position: absolute; top: 10%;}
.part4Con02>div{position: absolute;}
.part4Con02 > .mover {cursor: grab; overflow: hidden; position: absolute;}
.part4Con02 > .mover:nth-child(1){width: 400px; height: 500px; left: 2%; top: 0%;}
.part4Con02 > .mover:nth-child(2){width: 500px; height: 400px; left: 22%; top: 5%;}
.part4Con02 > .mover:nth-child(3){width: 400px; height: 400px; left: 78%; bottom: 1%;}
.part4Con02 > .mover:nth-child(4){width: 400px; height: 500px; left: 72%; top: 0%;}
.part4Con02 > .mover:nth-child(5){width: 400px; height: 500px; left: 48%; top: 0%;}
.part4Con02 > .mover:nth-child(6){width: 500px; height: 400px; left: 2%; bottom: 5%;}
.part4Con02 > .mover:nth-child(7){width: 400px; height: 500px; left: 27%; bottom: 5%;}
.part4Con02 > .mover:nth-child(8){width: 400px; height: 500px; left: 60%; bottom: 7%;}
.part4Con02 > div:nth-child(9){background-color: #C08167; color: #F7F5F2; font-weight: 600; text-align: left; font-size: 48px; padding: 25px 25px; width: 300px; height: 170px; left: 64%; top: 5%;}
.part4Con02>.mover>img{width: 100%; object-fit: contain; cursor: grab;}

    /*모바일*/
    @media(max-width:480px){
        .part4Title{top: 5%; left: 5%;}
        .part4Con02 > .mover:nth-child(1){width: 40%; left: 2%; top: 0%;}
        .part4Con02 > .mover:nth-child(2){width: 40%; left: 55%; top: 55%;}
        .part4Con02 > .mover:nth-child(3){width: 40%; left: 30%; top: 25%;}
        .part4Con02 > .mover:nth-child(4){width: 40%; left: 45%; top: 25%;}
        .part4Con02 > .mover:nth-child(5){width: 40%; left: 55%; top: 5%;}
        .part4Con02 > .mover:nth-child(6){width: 40%; left: 10%; top: 35%;}
        .part4Con02 > .mover:nth-child(7){width: 40%; left: 2%; top: 50%;}
        .part4Con02 > .mover:nth-child(8){width: 40%; left: 45%; top: 65%;}
        .part4Con02 > div:nth-child(9){left: 15%; top: 20%;}
    }

/* 여기부터 footer */
footer{display: flex; justify-content: center; align-items: center; gap: 25%; color: #F7F5F2; background-color: #6f6869; width: 100%; height: 60px;}
.footText{font-size: 14px; padding: 10px 10px; line-height: 20px;}
.lastText{font-size: 18px; padding: 10px 10px; line-height: 20px;}
.Btn{background-color: #F7F5F2; color: #6f6869; padding: 10px 15px; cursor: pointer;}

    /*모바일*/
    @media(max-width:480px){
        footer{gap: 10px;}
        .footText{font-size: 7px; padding: 2px 5px;}
        .lastText{font-size: 8px; padding: 2px 5px;}
        .Btn{padding: 2px 5px;}
    }
